@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

code:not([class]) {
    background-color: #f5f2f0;
    padding: 0.2em 0.4em;
    margin: 0.3em;
    border-radius: 5%;
}

ul.contains-task-list {
    padding-left: 0;
}

li.task-list-item {
    list-style: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th {
    position: sticky;
    padding: 1rem 2rem;
}
td {
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
}
th {
    font-weight: normal;
    font-size: .875rem;
    color: #666;
    background: #f5f2f0;
}